:root {
  --color-bg:       hsl(0,0%,96%);
}

#grid {
  display: grid;
  width: 100%;
  grid-template-columns: 290px 1fr;
}

#toolbarLeftArea {
  grid-row: 1;
  grid-column: 1/3;
}

#toolbarRightArea {
  grid-row: 1;
  grid-column: 2/3;
}

#inputArea {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--color-bg);
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}

#logArea {
  grid-column: 2 ;
  grid-row: 2;
}

#footerArea {
  grid-column: 1/3;
  grid-row: 3;
}

textarea
{
  width:100%;
}

div.tab-area  button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

div.toolbar-button  button {
    background-color: inherit;
//    float: left;
    border: none;
    outline: none;
    cursor: pointer;
//    padding: 14px 16px;
    transition: 0.3s;
}

/* Dropdown Button */
.dropbtn {
    background-color: inherit; // #4CAF50;
    // color: white;
    // padding: 16px;
    // font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    // background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "verdana", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.dropdown-pull-right {
  float: right ;
  right: 0;
  left: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.right_align {
  float: right;
  font-weight: bold;
}


/* Style the tab s*/
div.tabs {
    overflow: hidden;
//    border: 1px solid #ccc;
    background-color: #ccc;
}

div.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 8px;
    transition: 0.3s;
}

div.tabs button:hover {
    background-color: #ddd;
}

div.tabs button.active {
    background-color: var(--color-bg);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tablink {

//  transform: rotate(90deg);
}

/* footer */
.stat-disabled {
  background-color: #C0C0C0;
  color: #FFFFFF;
}
.stat-idle {
  background-color: #FFFFFF;
}
.stat-active {
  background-color: #00F900
}
.stat-error {
  background-color: #FF2600;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}


/* logbook table */
/* style for logbook table */

.logbook-outer-container {
    width: 30em;
}
.logbook-container {
    margin: 0 .2em .2em .2em;
    background-color: #ffffff;
    min-height: 26em;
    padding: 0 0 2.2em 0;
    position: relative;
}

#logbook-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height:450px;
    overflow:auto;
    //  margin-top:20px;
}

#logbook-table th {
    vertical-align: bottom;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#logbook-table td, #logbook th {
    border: 0px solid #ddd;
    padding: 0px;
}

#logbook-table tr:nth-child(even){background-color: #f2f2f2;}

#logbook-table tr:hover {background-color: #ddd;}

.scrollable {
    width: 100%
}

.scrollable thead tr th {
    height: 20px;
    line-height: 20px;
}

.table-list th, .table-list td {
    line-height: 1.8;
    padding-left: .8em;
}

.table-list th:last-child, .table-list td:last-child {
    padding-right: .8em;
}

.scrollable tbody, .scrollable thead {
    display: block;
}

.scrollable tbody {
    max-height: 105%;
    overflow-y: auto;
    overflow-x: overlay;
}

.table-list td {
    line-height: 1.8;
    padding-left: .8em;
}
